<% const { _id: currentBlogId, banner: { url: bannerURL }, title, content,
owner: { name: authorName, profilePhoto: { url: profilePhotoURL } = {},
username: authorUsername }, reaction, readingTime, totalBookmark, createdAt } =
blog; const compressedBannerURL = bannerURL?.replace('upload/',
'upload/w_960,h_420,c_auto/q_auto/f_auto/'); 
  // Destructure logged user data
  const {
    readingList: userReadingListedBlogs,
    reactedBlogs: userReactedBlogs
  } = user || {}
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/head', { title: `${title}`}) %>

  <!-- 
    - custom js link
    -->
  <script type="module" src="/js/reaction.js"></script>
  <script src="/js/script.js" defer></script>

  <!-- 
    - highlight.js cdn link
  -->
  <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>

</head>

<body>
  <!-- 
      - #Header
    -->
  <%- include('../partials/header') %>

  <main class="main">
    <div class="page blog-detail-page">
      <div class="container">
        <article class="blog-detail">
          <figure class="blog-banner image-holder">
            <img src="<%= compressedBannerURL %>" alt="<%= title %>" width="960" height="420" class="image-cover" />
          </figure>

          <div class="blog-author">
            <p class="avatar title-medium"><%=authorName.at()%></p>

            <div class="leading-text">
              <a href="/profile/<%=authorUsername%>" class="title-medium text-on-surface text-link">
                <%=authorUsername%>
              </a>

              <p class="body-small text-on-surface-variant">
                Posted on <%=new Date(createdAt).toLocaleDateString('en-US', {
                  month: 'short', day: 'numeric', year: 'numeric' })%>
              </p>
            </div>

            <% if (authorUsername === sessionUser?.username) { %>
            <a href="/blogs/<%=currentBlogId%>/edit" class="btn filled-tonal"><span class="material-symbols-rounded leading-icon" aria-hidden="true">edit</span>
              <p class="label-large">Edit</p>
              <div class="state-layer"></div>
            </a>

            <%}%>
            </div>

            <div class="blog-content">
              <h1 class="title headline-large text-on-surface"><%= title %></h1>

            <div class="content-markdown text-on-surface-variant">
              <%- markdown.render(content) %>
            </div>
          </div>

          <div class="blog-actions">
            <div class="action-item">
              <button class="icon-btn filled-tonal 
              <%=userReactedBlogs?.includes(currentBlogId) ? 'active reaction-anim-add' : '' %>" data-reaction-btn>
                <span class="material-symbols-rounded icon" aria-hidden="true">
                  favorite
                </span>
                <div class="state-layer"></div>
              </button>

              <p class="label-large text-on-surface-variant">
                <span data-reaction-number><%=reaction%></span>
                Reactions
              </p>
            </div>

            <div class="action-item">
              <button class="icon-btn filled-tonal" data-reading-list-btn>
                <span class="material-symbols-rounded icon" aria-hidden="true">
                  bookmark
                </span>
                <div class="state-layer"></div>
              </button>

              <p class="label-large text-on-surface-variant">
                <span data-reading-list-number><%=totalBookmark%></span>
                Bookmarks
              </p>
            </div>
          </div>
        </article>

        <!-- 
            - #More blog
          -->
        <% if (ownerBlogs.length) { %>
        <section class="more-blog">
          <h2 class="title title-large text-on-surface">Read next</h2>
          <div class="blog-list">
            <% for (const blog of ownerBlogs) { %>
            <%- include('../partials/card', { blog }) %>
            <%}%>
            </div>
          </section>
          <%}%>
          </div>
      </div>
  </main>

  <!-- 
      - #Footer
    -->
  <%- include('../partials/footer') %>
</body>

</html>